@import "../styles//reuseable.scss";

.Booking{
    padding: 50px 0px;
  .booking_container{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 10px 0px 10px 10px;
      .leftTable{
        width: 25%;
        box-shadow: 0 0 20px 0 #eae8e8;
        ul{
          li{
            cursor: pointer;
            &:hover{
              color: $primary;
            }
          }
        }
      }
      .rightTable{
        width: 75%;
        padding: 0 0 0 50px;
        form{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            label{
                text-transform: capitalize;
                color: $primary;
                font-weight: bold;
            }
            input, select {
                width: 50%;
                padding: 12px 20px;
                margin: 2px 0;
                display: inline-block;
                border: 1px solid $grey;
                background-color: $offWhite;
                border-radius: 4px;
                box-sizing: border-box;
              }
              option{
                  padding: 10px;
              }
              
              
        }
        .SingleDatePicker {
          display: block;
        }
        .SingleDatePicker_picker {
          
         position: relative;
         top: 0 !important;
         left: 0 !important;
        }
        

        .appointment{
          padding: 10px 20px;
          margin: 10px auto;
          border-radius: 5px;
          box-shadow: 0 0px 5px 0px #c3c3c3;
          width: 95%;
          ul{
            
          }
        }
        .no_appointment{
          opacity: 0.5;
        }
        
      }
  }
}
