@import "../styles//reuseable.scss";

.home_hero{
    min-height: 45vh;
    background-color: $offWhite;
}

.news{
    height: 500px;
}

.covid{
    height: 500px;
    background-color: $offWhite;
}