@import "../styles/reuseable.scss";
.SignUp_page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    flex-direction: column;

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        input, select {
            width: 100%;
            padding: 12px 20px;
            margin: 2px 0;
            display: inline-block;
            border: 1px solid $grey;
            background-color: $offWhite;
            border-radius: 4px;
            box-sizing: border-box;
          }
          button{
            width: 100%;
          }
          
    }
    .error{
      color: $error;
    }
}