@import "../styles//reuseable.scss";

body{
    margin: 0px;
    font-family: 'Cairo', sans-serif;
}
header, footer {
    height: 70px;
    background-color: $primary;
    color: $white;
    display: flex;
    align-items: center;
}

header{
    .header_wrapper{
        display: flex;
        justify-content: space-between ;
        align-items: center;

    }
    h1{
        margin: 0px;
    }

    a{
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        margin: auto 10px;
    }
    .userBox{
        display: flex;
        justify-content: center;
        align-items: center;
        .userAvatar{
            width: 40px;
            border-radius: 50%;
            margin: 0 10px 0 0;
        }

        p{
            text-transform: capitalize;
        }
        
        .signOut{
            margin: 0 0 0 40px;
            cursor: pointer;
        }
    }
    
}

footer{
p{
    text-align: center;
}}



