$primary: #343996;
$primary-dark: #2c3086;
$white: #fff;
$offWhite : #f2f2f2;
$grey : #ccc;
$error: #eb5757;
$body-black: #000000b3;
$head-black: #000000de;

.container{
    width: 100%;
    max-width: 1290px;
    margin: 0% auto;
    overflow: hidden;
    @media (max-width:1466px) {
        margin: 0% 2%;
    }
}


